<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/nifty.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/x-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
</head>
<body>
<div style="margin: 200px;">
    <a href="#" id="periodic_task_name_editonline" data-type="text" data-pk="40" data-placement="right" data-placeholder="Required" data-title="Enter username">value</a>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/nifty.js' %}"></script>
<script src="{% static 'plugins/x-editable/js/bootstrap-editable.js' %}"></script>
<script src="{% static 'js/corntab_task_page.js' %}"></script>
</body>
</html>

