<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AccessGateway</title>
    {% load static %}
    <link rel="shortcut icon" href="#"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/nifty.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo/nifty-demo-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo/nifty-demo.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/themes/type-c/theme-dark.min.css' %}" rel="stylesheet">
    <link href="{% static 'premium/icon-sets/icons/line-icons/premium-line-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pace.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    {% block extra_css %}{% endblock %}
</head>

{% block main_body %}
    <body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg navbar-fixed">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="{% url 'dashboard' %}" class="navbar-brand">
                        <img src="{% static 'img/logo.png' %}" alt="AccessGateway Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">AccessGateway</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <div class="navbar-content">
                    <ul class="nav navbar-top-links">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                    </ul>
                </div>





            </div>
        </header>

        <!-- 主要内容-->
        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            {% block main_box %}{% endblock %}
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <!--------------------Profile Widget-------------------->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="{% static 'img/profile-photos/1.png' %}"
                                                 alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse"
                                           aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                            <p class="mnp-name">{{ request.user.name }}</p>
                                            <span class="mnp-desc">{{ request.user }}</span>
                                        </a>
                                    </div>
                                    <div id="profile-nav" class="collapse list-group bg-trans">
                                        <a href="/admin/password_change/" class="list-group-item">
                                            <i class="pli-male icon-lg icon-fw"></i> Change Password
                                        </a>
                                        <a href="{% url 'access_logout' %}" class="list-group-item">
                                            <i class="pli-unlock icon-lg icon-fw"></i> Logout
                                        </a>
                                    </div>
                                </div>
                                <!--------------------END Profile Widget-------------------->
                                <!--------------------Left Sidebar-------------------->
                                <ul id="mainnav-menu" class="list-group">
                                    <li>
                                        <a href="{% url 'dashboard' %}">
                                            <i class="pli-pac-man"></i>
                                            <span class="menu-title">Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href={% url 'web_ssh' %}>
                                            <i class="pli-cloud-computer"></i>
                                            <span class="menu-title">
												Host SSH
											</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="pli-mouse-3"></i>
                                            <span class="menu-title">Batch operation</span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--ul 添加 class="collapse in" 则默认为展开-->
                                        <ul id="mainnav-menu-sub">
                                            <li><a href="{% url 'host_muilt' %}">Batch command</a></li>
                                            <li><a href="{% url 'host_filetrans' %}">Batch Files</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'host_record' %}">
                                            <i class="pli-key-lock"></i>
                                            <span class="menu-title">Operation record</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'timed_execution' %}">
                                            <i class="pli-time-clock"></i>
                                            <span class="menu-title">
												One-time task
											</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'interval_task' %}">
                                            <i class="fa fa-recycle"></i>
                                            <span class="menu-title">
												interval task
											</span>
                                        </a>
                                    </li>
                                     <li>
                                        <a href="{% url 'corntabs_task' %}">
                                            <i class="fa fa-circle-o-notch"></i>
                                            <span class="menu-title">
												Corntabs task
											</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/add_host/">
                                            <i class="pli-settings-window"></i>
                                            <span class="menu-title">
												Setting
                                                <!--<span class="pull-right badge badge-purple">7</span>-->
											</span>
                                        </a>
                                    </li>
                                </ul>
                                <!--------------------END Left Sidebar-------------------->
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->



        </div>


        <footer id="footer">

            <div class="hide-fixed pull-right pad-rgt">
                Do not use this project for commercial purposes.<strong>Accessgateway</strong> Free.
            </div>



            <p class="pad-lft">&#0169; From 2019 DEC to 2012 FEB.</p>


        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/nifty.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    {% block extra_javascript %}{% endblock %}
    <script src="{% static 'js/kevinjs.js' %}"></script>
    </body>
{% endblock %}


</html>