<button id="demo-add-alert" class="btn btn-lg btn-block btn-purple">Add an Alert</button>
<div class="panel-alert">
    <div class="alert-wrap in">
        <div class="alert alert-danger" role="alert">
            <button class="close" type="button"><i class="pci-cross pci-circle"></i></button>
            <div class="media"><strong>Well done!</strong> You successfully read this important alert message.</div>
        </div>
    </div>
</div>


<div class="panel-alert">
    <div class="alert-wrap in">
        <div class="alert alert-success" role="alert">
            <button class="close" type="button"><i class="pci-cross pci-circle"></i></button>
            <div class="media"><strong>Well done!</strong> You successfully read this important alert message.</div>
        </div>
    </div>
</div>
