{% extends 'base.html' %}
{% load custom_tag %}
{% block extra_css %}
    {% load static %}
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main_box %}
    {% load static %}
    {% load custom_tag %}
    <div id="content-container">
        <div id="page-content">
            <div class="row">
                <!--Total server groups-->
                <div class="col-md-2">
                    <div class="panel panel-info panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="fa fa-object-group fa-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ host_group_number }}</p>
                            <p class="mar-no">Total server groups</p>
                        </div>
                    </div>
                </div>
                <!--Total Host-->
                <div class="col-md-2">
                    <div class="panel panel-mint panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="demo-pli-camera-2 icon-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ host_number }}</p>
                            <p class="mar-no">Total Host</p>
                        </div>
                    </div>
                </div>
                <!--Total Commands-->
                <div class="col-md-2">
                    <div class="panel panel-primary panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="fa fa-desktop fa-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ cmd_number }}</p>
                            <p class="mar-no">Total Commands</p>
                        </div>
                    </div>
                </div>
                <!--task_number-->
                <div class="col-md-2">
                    <div class="panel panel-purple panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="fa fa-id-card-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ task_number }}</p>
                            <p class="mar-no">Total Tasks</p>
                        </div>
                    </div>
                </div>
                <!--task_error_number-->
                <div class="col-md-2">
                    <div class="panel panel-danger panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="fa fa-id-card-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ task_error_number }}</p>
                            <p class="mar-no">Total Error</p>
                        </div>
                    </div>
                </div>
                <!--task_success_number-->
                <div class="col-md-2">
                    <div class="panel panel-success panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="fa fa-id-card-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">{{ task_success_number }}</p>
                            <p class="mar-no">Total Success</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-content">
            <div class="col-sm-12">
                <!--Basic Toolbar-->
                <!--===================================================-->
                <div class="panel panel-bordered panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">Command history</h3>
                    </div>
                    <div class="panel-body">
                        <table id="dashboard_command_all_history" data-toggle="table"
                               data-url="{% get_static_url request %}data/{{ request.user.id }}/command_history.json"
                               data-search="true"
                               data-show-refresh="true"
                               data-striped="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-sort-name="id"
                               data-sort-order="desc"
                               data-page-list="[5, 10, 20, 50]"
                               data-height="600"
                               data-page-size="20"
                               data-pagination="true"
                               data-show-pagination-switch="true">
                            <thead>
                            <tr>
                                <th data-field="id" data-sortable="true" data-formatter="invoiceFormatter">ID</th>
                                <th data-field="type" data-sortable="true">Type</th>
                                <th data-field="command" data-sortable="true" data-formatter="resultToplip">Command</th>
                                <th data-field="status" data-align="center" data-sortable="true"
                                    data-formatter="statusFormatter">Status
                                </th>
                                <th data-field="result" data-sortable="true" data-formatter="resultToplip">Result</th>
                                <th data-field="hostname" data-sortable="true">Host Name</th>
                                <th data-field="hostip" data-align="center" data-sortable="true"
                                    data-sorter="priceSorter">Host IP
                                </th>
                                <th data-field="date" data-sortable="true" data-formatter="dateFormatter">Date</th>
                            </tr>
                            <div style="width: 300px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;"></div>
                            </thead>
                        </table>
                    </div>
                </div>

                <!--===================================================-->
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    {#    <script src="{% static 'js/demo/nifty-demo.min.js' %}"></script>#}
    <script src="{% static 'js/demo/tables-bs-table.js' %}"></script>
    <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}"></script>
{% endblock %}

