{% extends 'base.html' %}
{% block extra_css %}
    {% load static %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/animate-css/animate.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main_box %}
    {% load static %}
    {% load custom_tag %}
    <div id="content-container">
        <div id="page-content">
            <div class="row">
                <div class="col-lg-5">
                    <!----------------------------->
                    <div class="panel panel-primary panel-bordered panel-dark">

                        <!--Panel heading-->
                        <div class="panel-heading">
                            <div class="panel-control">

                                <!--Nav tabs-->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1"
                                                          aria-expanded="true">Grouped</a>
                                    </li>
                                    <li class=""><a data-toggle="tab" href="#demo-tabs-box-2"
                                                    aria-expanded="false">Unclassified</a></li>
                                </ul>

                            </div>
                            <h3 class="panel-title">Selected Host</h3>
                        </div>
                        <div id="select_host_pannel" class="panel-alert"></div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="demo-tabs-box-1" class="tab-pane fade active in">
                                    {% for group_host in host_group_obj %}
                                        <!--Collapsed Panel by default-->
                                        <!--===================================================-->
                                        <div class="panel" id="grouphostpanel">
                                            <!--Panel heading-->
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a data-toggle="collapse"
                                                                           href="#{{ group_host.name }}">{{ group_host.name }}</a>
                                                </h3>
                                            </div>
                                            <!--Panel body-->
                                            <div class="collapse" id="{{ group_host.name }}">
                                                <div class="panel-body">
                                                    <table class="demo-add-niftycheck" data-toggle="table"
                                                           data-page-size="10"
                                                           data-pagination="true">
                                                        <thead>
                                                        <tr>
                                                            <th class="bs-checkbox "><input type="checkbox"
                                                                                            onclick="groupcheckall(this.checked,'{% str_group_host group_host %}')"/>
                                                            </th>
                                                            <th data-field="id" data-sortable="true">ID</th>
                                                            <th data-field="name" data-sortable="true">Host Name</th>
                                                            <th data-field="ip" data-sortable="true">@</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for single_host in group_host.host_to_remote_users.select_related %}
                                                            <tr>
                                                                <td class="bs-checkbox ">
                                                                    <input name="{{ group_host.name }}xxx"
                                                                           tag="host_select"
                                                                           type="checkbox" id="{{ single_host.id }}"
                                                                           value="{{ single_host.id }}"/>
                                                                </td>
                                                                <td>{{ single_host.id }}</td>
                                                                <td>{{ single_host.host.name }}</td>
                                                                <td>{{ single_host.remote_user.username }}@{{ single_host.host.ip_addr }}:{{ single_host.host.port }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--===================================================-->
                                        <!--End Collapsed Panel by default-->
                                    {% endfor %}
                                </div>
                                <div id="demo-tabs-box-2" class="tab-pane fade">
                                    <table id="demo-custom-toolbar"
                                           class="demo-add-niftycheck"
                                           data-toggle="table"
                                           data-toolbar="#demo-delete-row"
                                           data-search="true"
                                           data-show-toggle="true"
                                           data-show-columns="true"
                                           data-sort-name="id"
                                           data-page-list="[5, 10, 20]"
                                           data-page-size="10"
                                           data-pagination="true"
                                           data-show-pagination-switch="true">
                                        <thead>
                                        <tr class="">
                                            <th class="bs-checkbox "><input type="checkbox"
                                                                            onclick="checkall(this.checked)"></th>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Host Name</th>
                                            <th data-field="date" data-sortable="true">@</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for host_info in host_obj %}
                                            <tr>
                                                <td class="bs-checkbox "><input name="selectitem" tag="host_select"
                                                                                type="checkbox"
                                                                                value="{{ host_info.id }}"
                                                                                id="{{ host_info.id }}">
                                                </td>
                                                <td style="">{{ host_info.id }}<a href="#" class="btn-link"></a></td>
                                                <td style="">{{ host_info.host.name }}</td>
                                                <td style=""><span
                                                        class="text-muted">{{ host_info.remote_user.username }}@{{ host_info.host.ip_addr }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------->
                </div>
                <div class="col-lg-7">
                    <div class="panel panel-bordered panel-dark">{% csrf_token %}
                        <div class="panel-heading">
                            <h3 class="panel-title">Interval time task</h3>
                        </div>
                        <div id="cmd_pannel" class="panel-alert"></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="input-group mar-btm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-mint" type="button">Task Name</button></span>
                                    <input id="one_time_task_name_button" type="text" placeholder="task name" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <textarea id="onetime_cmdtext" placeholder="请输入要执行的SSH命令..." rows="8"
                                          class="form-control">pwd</textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <hr class="new-section-sm bord-no">
                                    <p class="text-main text-bold mar-btm">Time Zone</p>
                                    <select data-placeholder="Time zone" id="demo-chosen-select" tabindex="2"></select>
                                </div><!---fk---->
                                <div class="col-xs-4">
                                    <hr class="new-section-sm bord-no">
                                    <p class="text-main text-bold mar-btm">Every</p>
                                    <div id="demo-range-def"></div>
                                    <div>
                                        <br>
                                        <strong>Value : </strong>
                                        <span id="demo-range-def-val"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <hr class="new-section-sm bord-no">
                                    <hr class="new-section-sm bord-no">
                                    <select id="interval_time" class="selectpicker col-xs-6 col-sm-4 col-md-6 col-lg-12" data-style="btn-dark">
                                        <option>hours</option>
                                        <option>minutes</option>
                                        <option>days</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <button id="run_file_button" onclick="save_interval_task('Interval')"
                                        class="btn btn-success btn-labeled pull-right">
                                    <i class="btn-label fa fa-play"></i> Save Task
                                </button>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Condensed Table-->
                    </div>
                    <div class="panel panel-bordered panel-dark" onload="periodic_history_table_refresh()">
                        <div class="panel-heading">
                            <h3 class="panel-title">Interval task history</h3>
                        </div>
                        <div class="panel-body">
                            <table id="periodic_history_table"
                                   data-toggle="table"
                                   data-url="{% get_static_url request %}data/{{ request.user.id }}/intervaltaskhistory.json"
                                   data-search="true"
                                   data-striped="true"
                                   data-show-toggle="true"
                                   data-show-refresh="true"
                                   data-sort-order="desc"
                                   data-show-columns="true"
                                   data-sort-name="task_id"
                                   data-page-list="[5, 10, 20,50]"
                                   data-page-size="10"
                                   data-pagination="true"
                                   data-show-pagination-switch="true">
                                <thead>
                                <tr>
                                    <th data-field="task_id" data-align="center" data-sortable="true"
                                        data-formatter="invoiceFormatter">ID
                                    </th>
                                    <th data-field="task_name" data-align="center" data-sortable="true">Task Name</th>
                                    <th data-field="task_every" data-sortable="true" data-formatter="dateFormatter">Task every</th>
                                    <th data-field="task_status" data-align="center" data-sortable="true" data-formatter="intervalStatusFormatter">Status</th>
                                    <th data-field="task_id" data-align="center"  data-formatter="taskintervaldeleteFormatter">Operating</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                    <div id="show_rencent_cmd_result_panel" class="panel panel-bordered panel-dark hidden">
                        <div class="panel-heading">
                            <div class="panel-control">
                                <button class="btn btn-default" data-panel="minmax" data-target="#panel-collapse-5b5e"
                                        data-toggle="collapse" aria-expanded="true"><i class="demo-psi-chevron-up"></i>
                                </button>
                            </div>
                            <h3 class="panel-title">Show Result</h3>
                        </div>
                        <div class="collapse in" id="panel-collapse-5b5e">
                            <div class="panel-body">
                                <div id="recent_command_pannel_alert" class="panel-alert"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'js/demo/tables-bs-table.js' %}"></script>
    <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'js/interval_task_page.js' %}"></script>
    <script src="{% static 'plugins/noUiSlider/nouislider.min.js' %}"></script>
    <script src="{% static 'js/demo/ui-panels.js' %}"></script>
    <script src="{% static 'js/demo/ui-modals.js' %}"></script>
    <script src="{% static 'plugins/bootbox/bootbox.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}"></script>

{% endblock %}