{% extends 'base.html' %}
{% block extra_css %}
    {% load static %}
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main_box %}
    {% load static %}
    <div id="content-container">
        <div id="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-bordered panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title">Host SSH </h3>
                        </div>
                        <div class="panel-body">
                            <table data-toggle="table"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-sort-name="id"
                                   data-page-list="[5, 10, 20]"
                                   data-page-size="5"
                                   data-pagination="true"
                                   data-show-pagination-switch="true" class="table table-hover">
                                <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="name" data-sortable="true">Host Name</th>
                                    <th data-field="ip" data-sortable="true">Host IP</th>
                                    <th data-field="date" data-sortable="true">Port</th>
                                    <th data-field="amount" data-align="center" data-sortable="true"
                                        data-sorter="priceSorter">IDC
                                    </th>
                                    <th data-field="status" data-align="center" data-sortable="true">Login Name</th>
                                    <th data-field="track" data-align="center" data-sortable="true">Login Type</th>
                                    <th>Connect</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for single_host in hostlist %}
                                    <tr data-index="0" id="{{ single_host.host.id }}">
                                        <td data="{{ single_host.host.id }}" style="text-align: center; " id="{{ single_host.host.id }}">{{ single_host.host.id }}</td>
                                        <td style="text-align: center; ">{{ single_host.host.name }}</td>
                                        <td style="text-align: center; "><span class="text-muted">{{ single_host.host.ip_addr }}</span></td>
                                        <td style="text-align: center; ">{{ single_host.host.port }}</td>
                                        <td style="text-align: center; ">{{ single_host.host.idc.name }}</td>
                                        <td style="text-align: center; ">{{ single_host.remote_user.username }}</td>
                                        <td style="text-align: center; ">{{ single_host.remote_user.get_auth_type_display }}</td>
                                        <td style="text-align: center; ">
                                            <div class="btn-group btn-group-xs">
                                                <button data-toggle="modal"
                                                        class="btn btn-warning" onclick="windowsopen('{{ single_host.host.ip_addr }}','{{ single_host.host.port }}')">SSH
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'js/demo/tables-bs-table.js' %}"></script>
    <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/demo/ui-panels.js' %}"></script>
    <script src="{% static 'plugins/bootbox/bootbox.min.js' %}"></script>
    <script src="{% static 'js/demo/ui-modals.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}"></script>
{% endblock %}
